.main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.card {
  background: #fff;
  border-radius: 25px;
  position: relative;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  height: 650px;
  box-shadow: -1px 14px 12px 0px rgba(50, 50, 50, 0.75);
}

.container {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 3rem;
  width: 100%;
  height: 100%;
}

.cube::before {
  overflow: visible;
  content: url('./images/illustration-box-desktop.svg');
  position: absolute;
  left: -6em;
  bottom: 11em;
  z-index: 10;
}

.images {
  background-image: url('./images/bg-pattern-desktop.svg'),
    url('./images/illustration-woman-online-desktop.svg');

  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  display: flex;
  align-items: flex-start;
  width: 50%;
  position: relative;
  right: 10em;
  top: -1rem;
  margin: -4rem;
}

.accordion {
  width: 50%;
  padding-right: 5rem;
  padding-bottom: 3rem;
  margin-left: 3rem;
  margin-right: 1rem;
}

.title {
  margin-top: 1rem;
  padding-top: 1rem;
}

.question {
  font-size: 1.1rem;
  color: hsl(237, 12%, 33%);
  cursor: pointer;
}

.question:hover {
  color: hsl(14, 88%, 65%);
}

.answer {
  font-size: 0.9rem;
  color: hsl(240, 6%, 50%);
  line-height: 1.6;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.line {
  display: block;
  width: 100%;
  height: 1px;
  background: hsl(240, 5%, 91%);
  z-index: 100;
}

.active + .content {
  display: none;
}

.active:checked + .content {
  display: block;
}

.bold {
  font-weight: 700;
}

.arrow {
  transform: rotate(-180deg);
  transition: transform 0.1s ease-in-out;
}

.attribution {
  text-align: center;
  position: relative;
  bottom: 100px;
  font-size: 1.2rem;
  text-shadow: 1px 1px 2px hsl(0, 3%, 7%), 0 0 1em rgb(190, 190, 255), 0 0 0.2em rgb(190, 190, 255);
}
.attribution a {
  color: hsl(229, 22%, 75%);
  text-decoration: none;
}

.attribution a:hover {
  color: hsl(0, 0%, 11%);
}

@media screen and (max-width: 600px) {
  body {
    max-height: 100vh;
    overflow: unset;
  }

  .card {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    height: 100%;
  }

  .container {
    overflow: unset;
    display: flex;
    flex-direction: column;
    gap: unset;
    padding: 1rem;
    width: 100%;
    height: 100%;
  }

  .cube::before {
    content: '';
    position: unset;
    left: unset;
    bottom: unset;
    z-index: unset;
  }

  .images {
    background-image: url('./images/bg-pattern-mobile.svg'),
      url('./images/illustration-woman-online-mobile.svg');
    background-repeat: space no-repeat;
    background-position: bottom right, bottom left;
    background-size: 95%, 100%;
    margin: -200px auto;
    top: 5px;
    left: 49px;
    width: 60%;
    height: 250px;
    z-index: 1;
    padding: 0.5rem;
    position: absolute;
    display: block;
  }

  .accordion {
    width: 90%;
    padding-right: unset;
    padding-bottom: unset;
    margin-left: unset;
    margin-right: unset;
  }

  .title {
    margin-top: 5rem;
    padding-top: 1rem;
    text-align: center;
  }

  .question {
    font-size: 0.9rem;
  }

  .question:hover {
    color: unset;
  }

  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .line {
    display: block;
    width: 80%;
    height: 1px;
    background: hsl(240, 5%, 91%);
    z-index: 100;
  }

  .attribution {
    font-size: 0.8em;
    bottom: 50px;
  }
}
